<div class="row">
	<div class="upload-container">
      <legend>Json Preview</legend>
  </div>
  <div class="col-lg-6">
    <div class="row">
    	<!-- <pre ng-bind-html="mappedJson | prettify"></pre> -->
      <div ng-hide="mappedJson"><i class="fa fa-spinner fa-pulse"></i> Processing Json</div>
    	<div class="well" ng-show="mappedJson">
    	 <json-formatter open="7" json="mappedJson"></json-formatter>
    	</div>
    </div>
  </div>
  <div class="col-lg-3 col-lg-offset-9 btn-set button-container">
		<button class="btn btn-primary pull-right"  ng-click="isBackToThirdStep()">Back</button>
    <!-- <download-json-file data="{{downloadedData}}"></download-json-file> -->
    <div class="btn btn-primary pull-right" ng-click="importJson()" >Import</a>
	</div>
</div>